## Pandas Data Munging Data Wrangling

#### Encoding Problem
Try using 'ISO-8859-1' if there is 'utf-8' error.

    df = pd.read_csv('file.csv', sep=',', quotechar='"', enconding='ISO-8859-1')

In [1]:
import pandas as pd
import numpy as np

#### Create DataFrame from dictionary of ndarrays / lists

In [2]:
d1 = {'one' : [1., 2., 3., 4.], 'two' : ['4', '3', '2', '1']}
df1 = pd.DataFrame(d1)
df1

   one two
0  1.0   4
1  2.0   3
2  3.0   2
3  4.0   1

#### Convert string to numeric.
Or using 

    df1['two] = df1['two'].astype(float)
    df1['two] = df1['two'].astype(np.int64)

In [3]:
df1['two'] = pd.to_numeric(df1['two'], errors='coerce')
df1

   one  two
0  1.0    4
1  2.0    3
2  3.0    2
3  4.0    1

#### Convert String to Datetime

    df['col'] = pd.to_datetime(df['col'], format="%m/%d/%Y %H:%M:%S")

#### Creat DataFrame From a list of dicts

In [4]:
d2 = [{'a': 1, 'b': 2}, {'a': 5, 'b': 10, 'c': 20}]
df2 = pd.DataFrame(d2)
df2

   a   b     c
0  1   2   NaN
1  5  10  20.0

#### Create DataFrame From list

In [5]:
a = [1,2,3,4,2,2,5]
df = pd.DataFrame(a, columns=['new'])

#### Adding new column

In [6]:
b = [2,3,4,5,6,6]
df['add'] = pd.DataFrame(b)

#### Create new column by doing math about existing ones

In [7]:
df['sub'] = df['add'] - df['new']

#### Check column names

In [8]:
df.columns

Index(['new', 'add', 'sub'], dtype='object')

#### Check unique values of column

In [9]:
df.new.unique()

array([1, 2, 3, 4, 5])

#### Group by and count the number

In [10]:
df.groupby('new').count()

     add  sub
new
1      1    1
2      3    3
3      1    1
4      1    1
5      0    0

#### Reset index

In [11]:
df.reset_index()

   index  new  add  sub
0      0    1  2.0  1.0
1      1    2  3.0  1.0
2      2    3  4.0  1.0
3      3    4  5.0  1.0
4      4    2  6.0  4.0
5      5    2  6.0  4.0
6      6    5  NaN  NaN

#### Group by 'column1' and get the sum for 'column2'
    df.groupby('column1').agg({'column2':sum, 'column3':mean})

In [12]:
df[['new','add']].groupby('new').sum()

      add
new
1     2.0
2    15.0
3     4.0
4     5.0
5     NaN

#### Check the NULL number and not NULL number for 'column1'

In [13]:
df.isnull().sum()

new    0
add    1
sub    1
dtype: int64

In [14]:
df.notnull().sum().tolist()

[7, 6, 6]

#### Check Duplicates

In [15]:
df.duplicated().tolist()

[False, False, False, False, False, True, False]

In [16]:
df.drop_duplicates(inplace=True)
df

   new  add  sub
0    1  2.0  1.0
1    2  3.0  1.0
2    3  4.0  1.0
3    4  5.0  1.0
4    2  6.0  4.0
6    5  NaN  NaN

#### Adding new column by mapping

In [17]:
df['large3'] = df['new'].map(lambda x: True if x >=3 else False)
df

   new  add  sub large3
0    1  2.0  1.0  False
1    2  3.0  1.0  False
2    3  4.0  1.0   True
3    4  5.0  1.0   True
4    2  6.0  4.0  False
6    5  NaN  NaN   True

#### Sort by column values

In [18]:
df.sort_values(by='new', ascending=False)

   new  add  sub large3
6    5  NaN  NaN   True
3    4  5.0  1.0   True
2    3  4.0  1.0   True
1    2  3.0  1.0  False
4    2  6.0  4.0  False
0    1  2.0  1.0  False

#### Sort dataframe by multiple columns

    df = df.sort(['col1','col2','col3'],ascending=[1,1,0])

#### Fill in NaN

    df.fillna(0, inplace=True)

In [19]:
df.fillna({'add':0,'sub':-1}, inplace=True)

   new  add  sub large3
0    1  2.0  1.0  False
1    2  3.0  1.0  False
2    3  4.0  1.0   True
3    4  5.0  1.0   True
4    2  6.0  4.0  False
6    5  0.0 -1.0   True

#### NaN vs None

    NaN is a numeric value. None is an internal Python type (NoneType)
    NaN can be used as a numerical value on mathematical operations, while None cannot (or at least shouldn't).

##### Pandas Axis

    axis=0 along the rows (namely, index in pandas), and axis=1 along the columns.

#### Set Value for some cell

In [21]:
df.set_value(6, 'sub', 0)

   new  add  sub large3
0    1  2.0  1.0  False
1    2  3.0  1.0  False
2    3  4.0  1.0   True
3    4  5.0  1.0   True
4    2  6.0  4.0  False
6    5  0.0  0.0   True

#### map function with a function as parameter 
    using lambda function
    change for this column

In [23]:
def f_t(x):
    return x**2

df['square'] = df['new'].map(lambda x:f_t(x))
df

   new  add  sub large3  square
0    1  2.0  1.0  False       1
1    2  3.0  1.0  False       4
2    3  4.0  1.0   True       9
3    4  5.0  1.0   True      16
4    2  6.0  4.0  False       4
6    5  0.0  0.0   True      25

#### Selection with two conditions
    Note the "()" and "&"

In [25]:
print (df[(df['new']==2) & (df['sub']==1)]['square'])

1    4
Name: square, dtype: int64

#### using loc for change values

    df.loc[(df['column1'] == some_value) & (df['column2'] == some_other_value), ['column_to_change']] = new_value
Note: using '[]' instead of '()'

In [27]:
df.loc[(df['new']==2) & (df['sub']==4),['square']] = 36
df.loc[df['new'].notnull(), ['square']] = df['new']**2 / 2
df

   new  add  sub large3  square
0    1  2.0  1.0  False     0.5
1    2  3.0  1.0  False     2.0
2    3  4.0  1.0   True     4.5
3    4  5.0  1.0   True     8.0
4    2  6.0  4.0  False     2.0
6    5  0.0  0.0   True    12.5

#### Add new column to DataFrame.
    df.assign(columnname=Series/Scalar/Array)
Note: Need to assign again, otherwise it did not change the original one.
    
Or:

    df = df.assign(test=df['new']**3)

In [29]:
temp = df['new']**3
df = df.assign(cube=temp)
df

   new  add  sub large3  square  cube
0    1  2.0  1.0  False     0.5     1
1    2  3.0  1.0  False     2.0     8
2    3  4.0  1.0   True     4.5    27
3    4  5.0  1.0   True     8.0    64
4    2  6.0  4.0  False     2.0     8
6    5  0.0  0.0   True    12.5   125

#### Delete Column
    df.drop('columname', axis=1, inplace=True)
Or, using 'del'

    del df['cube']
Or, using "pop()"

    df.pop('cube')

In [30]:
df.drop('cube', axis=1, inplace=True)
df

   new  add  sub large3  square
0    1  2.0  1.0  False     0.5
1    2  3.0  1.0  False     2.0
2    3  4.0  1.0   True     4.5
3    4  5.0  1.0   True     8.0
4    2  6.0  4.0  False     2.0
6    5  0.0  0.0   True    12.5

#### Select row according to values.

In [31]:
df[df['new'].isin([1,2,3])]

   new  add  sub large3  square
0    1  2.0  1.0  False     0.5
1    2  3.0  1.0  False     2.0
2    3  4.0  1.0   True     4.5
4    2  6.0  4.0  False     2.0

#### Set Index
     df.index = df['date']